.app_box {
    /* border: 1px solid red; */
    width: 100vw;
    height: 100vh;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    display: flex;
}

/* nav_box */
.nav_box{
    width: 270px;
    background: var(--purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 222;
    margin-right: 1rem;
}

.nav_box_top, .nav_box_bottom{
    width: 100%;
}

.nav_box_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: .5rem;
}

.nav_box_title img{
    width: 150px;
}

.close_fixe{
    background: var(--white);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.25);
}

/* nav_list */
.nav_list{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_list span {
    width: 100%;
}

.nav_list span a{
    width: 100%;
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    padding-left: 1rem;
    height: 48px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.active_list{
    background: rgba(255, 255, 255, 0.08);
    border-left: 5px solid var(--white);
}

/* dash_box */
.dash_box{
    width: 100%;
    z-index: 111;
    animation: up .5s;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    height: 100%;
    overflow-y: scroll;
}

/* top_box */
.top_box{
    margin-top: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .top_box_title{
} */

.top_box_user_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .top_box_user_container{
    border: 1px solid red;

} */

/* .top_box_user_avatar{
    border: 1px solid red;

}
 */
.top_box_notification{
    margin-right: 2rem;
    cursor: pointer;
}

.top_box_notification svg{
    font-size: 24px;
}

/* children_box */
.children_box{
    width: 100%;
    padding-right: 1rem;
}