.app_box {
    width: 100vw;
    height: 100vh;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* dash_box */
.dash_box{
    width: 100%;
    z-index: 111;
    animation: up .5s;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    padding: 1rem;
}

/* top_box */
.top_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .top_box_title{
} */

.top_box_user_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .top_box_user_container{
    border: 1px solid red;

} */

/* .top_box_user_avatar{
    border: 1px solid red;

}
 */
.top_box_notification{
    margin-right: 2rem;
    cursor: pointer;
}

.top_box_notification svg{
    font-size: 24px;
}

.title_date{
    color: var(--grey-font) !important;
    font-size: 25px;
}

/* children_box */
.children_box{
    width: 100%;
    padding-right: 1rem;
}