/* nav_box */
.nav_box {
    width: 270px;
    background: var(--purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 222;
    overflow-y: auto;
}

.nav_box_top, .nav_box_bottom {
    width: 100%;
}

.nav_box_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: .5rem;
}

.nav_box_title img {
    width: 150px;
}

.nav_box_search{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .3rem;
}

.nav_box_search input {
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--grey-border);
    background: var(--white-back);
    padding-left: 1rem;
    margin-bottom: .7rem;
    width: 100%;
    text-transform: capitalize;
}

.close_fixe {
    background: var(--white);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.25);
}

/* nav_list */
.accordion_nav {
    border: none !important;
    background: none !important;
    box-shadow: none !important;
    width: 100% !important;
    margin: 0 !important;
}

.accordion_nav span {
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
}

.nav_list {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_list span {
    width: 100%;
}

.nav_list span a, .accordion_details_nav a {
    width: 100%;
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    padding-left: 1rem;
    height: 48px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.accordion_details_nav {
    padding: 0;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

.accordion_details_nav a {
    text-decoration: none;
}

.accordion_details_nav a:hover {
    color: var(--white) !important;
}

.nav_list span a:hover {
    background: var(--white-sobre);
}

.active_list {
    background: var(--white-sobre);
    border-left: 5px solid var(--white);
}

.nav_list .desloc {
    margin-left: 1.5rem;
}

.drop_nav {
    margin-left: 1rem;
}

.null_search{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

/* app_bar */
.nav_app_bar_box {
    background: var(--purple) !important;
}