@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("./forms.css");

:root {
  --purple: #5046B9;
  --purple-secondary: #4A52FF;
  --white: #fff;
  --white-secondary: #F2F2F2;
  --green: #04D361;
  --red: #E02041;
  --purple-overshadowed: #D4C2FF;
  --white-back: #F5F7FB;
  --grey-border: #BDBDBD;
  --green-op: #88DDBA;
  --green-op-1: #0B8E78;
  --black: #454256;
  --grey-secondary-font: #9C98A6;
  --grey-font: #808080;
  --white-sobre: rgba(255, 255, 255, 0.08);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}


@keyframes animate-div {
  from {
    opacity: 0;
    margin-top: -150px;
  }

  to {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }

  to {
    opacity: 1;
  }
}

@keyframes down {
  from {
    opacity: 0;
    transform: translateY(-1.2rem);
  }

  to {
    opacity: 1;
  }
}

@keyframes left {
  from {
    opacity: 0;
    transform: translateX(10rem);
  }

  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

input {
  outline: none;
  border: 0;
}

ul, ol {
  list-style: none;
  margin: 0 !important;
}

tr {
  text-align: center;
}

table thead {
  background: var(--purple);
}

th {
  color: var(--white);
}

tbody tr:hover {
  background: #ECECEC;
  cursor: pointer;
}

button {
  border: none;
  outline: none;
}

.container_app {
  height: 100vh;
  width: 100vw;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: var(--white-back);
  display: flex;
}

.action_table_group:hover {
  background: none;
}

/* search_input */

.search_input {
  background: var(--white-back);
  height: 40px;
  width: min(250px, 100%);
  border-radius: 8px;
  border: 1px solid var(--grey-border);
}

.search_input input {
  background: var(--white-back);
  height: 100%;
  width: 100%;
  padding-left: 1rem;
  border-radius: 8px;
}

.nav_app_bar {
  display: none;
}

.options_table{
  display: flex;
  align-items: center;
}

/* media queries */
@media (max-width:900px) {
  .container_app {
    flex-direction: column;
    overflow-y: hidden;
  }

  .nav_app_bar {
    display: initial;
  }

  .dash_box {
    height: 100%;
    overflow-y: auto;
    background: var(--white-back);
  }

  .nav_box {
    display: none;
  }
}