@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --purple: #5046B9;
  --white: #fff;
  --green: #04D361;
  --purple-overshadowed: #D4C2FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}


@keyframes animate-div {
  from {
    opacity: 0;
    margin-top: -150px;
  }

  to {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }

  to {
    opacity: 1;
  }
}

@keyframes down {
  from {
    opacity: 0;
    transform: translateY(-1.2rem);
  }

  to {
    opacity: 1;
  }
}

@keyframes left {
  from {
    opacity: 0;
    transform: translateX(10rem);
  }

  to {
    opacity: 1;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}